<div class="row justify-content-center ">
    <div class="col-8">
        <div *ngIf="categorie">
            <h5  class="content padding-box"><span jhiTranslate="winpharmApp.categorie.detail.title">Categorie</span> {{categorie.id}}:  {{categorie.categorieLibelle}}</h5>
            <hr style="border: none; ">
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details pad">
                <dt><span jhiTranslate="winpharmApp.categorie.categorieLibelle">Categorie Libelle</span></dt>
                <dd>
                    <span>{{categorie.categorieLibelle}}</span>
                </dd>
            </dl>
            <div style="text-align: center;">
            <button type="submit"
                    (click)="previousState()"
                    class="btn back_color">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/categorie', categorie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
        </div>
    </div>
</div>
