<div>
    <h2 id="page-heading">
        <span >Barre de recherche</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit" [routerLink]="['/produit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="winpharmApp.produit.home.createLabel">
            Create new Produit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="produits?.length === 0">
        <span jhiTranslate="winpharmApp.produit.home.notFound">No produits found</span>
    </div>
    <div class="table-responsive" *ngIf="produits?.length > 0">
        <table class="table ">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id" style="width: 1%;"><span jhiTranslate="global.field.id">ID</span>&nbsp;</span><fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitLibelle"><span jhiTranslate="winpharmApp.produit.produitLibelle">Produit Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitActif"><span jhiTranslate="winpharmApp.produit.produitActif">Produit Actif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitVolume"><span jhiTranslate="winpharmApp.produit.produitPPV">Produit PPV</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitUniVolume"><span jhiTranslate="winpharmApp.produit.produitStock">Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let produit of produits ;trackBy: trackId">
                <td><a [routerLink]="['/produit', produit.id, 'view' ]">{{produit.id}}</a></td>
                <td>{{produit.produitLibelle}}</td>
                <td>{{produit.produitActif}}</td>
                <td>20</td>
                <td>0</td>
                
              
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'view' ]"
                                class="btn  back_color">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'produit', { outlets: { popup: produit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
