<div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 py-5">
        <div *ngIf="produit">
            <h4 class="content padding-box"><span jhiTranslate="winpharmApp.produit.detail.title">Produit</span> <span> {{produit.id}}:  {{produit.produitLibelle}}</span></h4>
            <div><br></div>
            <jhi-alert-error></jhi-alert-error>
            <div class="messages"></div>
             <div class="controls">
              <div class="row">
                <div class="col-md-6 bottom">
                    <div class="text-content">
                        <span jhiTranslate="winpharmApp.produit.produitLibelle">Produit Libelle</span>
                    </div>
                    <div>   
                         <span>{{produit.produitLibelle}}</span>
                    </div>
                </div>

                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitActif">Produit Actif</span>
                        </div>
                        <div>   
                            <span>{{produit.produitActif}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitCodeBarre">Produit Code Barre</span> 
                        </div>
                        <div>   
                            <span>{{produit.produitCodeBarre}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitDosage">Produit Dosage</span> 
                        </div>
                        <div>   
                            <span>{{produit.produitDosage}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitUniDosage">Produit Uni Dosage</span>
                        </div>
                        <div>   
                            <span>{{produit.produitUniDosage}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitVolume">Produit Volume</span>
                        </div>
                        <div>   
                            <span>{{produit.produitVolume}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produitUniVolume">Produit Uni Volume</span>
                        </div>
                        <div>   
                            <span>{{produit.produitUniVolume}}</span>
                        </div>
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produit_rayon">Produit Rayon</span>
                        </div>
                        <div *ngIf="produit.produit_rayon, else elseblock">
                            <a [routerLink]="['/rayon', produit.produit_rayon?.id, 'view']">{{produit.produit_rayon?.id}}</a>
                        </div>
                        <ng-template #elseblock>
                        <div>
                            <span>Non spécifié</span>
                        </div>   
                       </ng-template> 
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produit_categorie">Produit Categorie</span>
                        </div>
                        <div *ngIf="produit.produit_categorie">
                            <a [routerLink]="['/categorie', produit.produit_categorie?.id, 'view']">{{produit.produit_categorie?.id}}</a>
                        </div>    
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produit_fam_tar">Produit Fam Tar</span>
                        </div>
                        <div *ngIf="produit.produit_fam_tar, else elseblock2">
                                <a [routerLink]="['/fammille-tarifaire', produit.produit_fam_tar?.id, 'view']">{{produit.produit_fam_tar?.id}}</a>
                        </div>    
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produit_laboratoire">Produit Laboratoire</span>
                        </div>
                        <ng-template #elseblock2>
                        <div>
                              <span>Non spécifié</span>  
                        </div> 
                    </ng-template>   
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.produit_grossiste">Produit Grossiste</span>
                        </div>
                        <div>
                                <a [routerLink]="['/grossiste', produit.produit_grossiste?.id, 'view']">{{produit.produit_grossiste?.id}}</a>
                        </div> 
                </div>
                <div class="col-md-6 bottom">
                        <div class="text-content">
                            <span jhiTranslate="winpharmApp.produit.proform">Proform</span>
                        </div>
                        <div *ngIf="produit.proform">
                                <a [routerLink]="['/forme', produit.proform?.id, 'view']">{{produit.proform?.id}}</a>
                        </div>   
                </div>

        
            
        </div>
        <div style="text-align: center;">
        <button type="submit"
        (click)="previousState()"
        class="btn back_color">
          <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
           [routerLink]="['/produit', produit.id, 'edit']"
           class="btn btn-primary">
           <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </div>
    </div>
</div>
</div>
</div>
</div>
            




      