.back_color {
  background-color: rgb(38, 151, 87);
  color: white;
}
.boutton {
  padding-top: 9%;
  padding-left: 20%;
}
label {
  font-weight: bold;
}
input {
  margin-bottom: 5%;
}

.padding-box {
  background-clip: padding-box;
}

.content {
  padding: 2em;
  background: rgba(38, 151, 87, 0.6);
  color: white;
  font-weight: bold;
}

.bottom {
  margin-bottom: 4%;
  padding-left: 8%;
}
.text-content {
  font-weight: bold;
  font-size: 18px;
}
