<div>
    <h2 id="page-heading">
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fammille-tarifaire" [routerLink]="['/fammille-tarifaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="winpharmApp.fammilleTarifaire.home.createLabel">
            Create new Fammille Tarifaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/><br/><br/>
    <form class="form-inline md-form form-sm">
        <input #box class="form-control form-control-sm mr-3" type="text" placeholder="Chercher un famille tarifaire" aria-label="Search" (keyup)="onKey(box.value)"
          mdbInput>
        <i class="fas fa-search" aria-hidden="true"></i>
      </form>
      <p>{{values}}</p>
    <div class="alert alert-warning" *ngIf="fammilleTarifaires?.length === 0">
        <span jhiTranslate="winpharmApp.fammilleTarifaire.home.notFound">No fammilleTarifaires found</span>
    </div>
    <div class="table-responsive" *ngIf="fammilleTarifaires?.length > 0">
        <table class="table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id" ><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="famiTarifLibelle"><span jhiTranslate="winpharmApp.fammilleTarifaire.famiTarifLibelle">Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="famiTarifForfait"><span jhiTranslate="winpharmApp.fammilleTarifaire.famiTarifForfait">Forfait</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="famiTarifCodeTVA"><span jhiTranslate="winpharmApp.fammilleTarifaire.famiTarifCodeTVA">Code TVA</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="famiTarifTauxTVA"><span jhiTranslate="winpharmApp.fammilleTarifaire.famiTarifTauxTVA">Taux TVA</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let fammilleTarifaire of fammilleTarifaires ;trackBy: trackId">
                <td><a [routerLink]="['/fammille-tarifaire', fammilleTarifaire.id, 'view' ]">{{fammilleTarifaire.id}}</a></td>
                <td>{{fammilleTarifaire.famiTarifLibelle}}</td>
                <td>{{fammilleTarifaire.famiTarifForfait}}</td>
                <td>{{fammilleTarifaire.famiTarifCodeTVA}}</td>
                <td>{{fammilleTarifaire.famiTarifTauxTVA}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/fammille-tarifaire', fammilleTarifaire.id, 'view' ]"
                                class="btn btn-info btn-sm back_color">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fammille-tarifaire', fammilleTarifaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fammille-tarifaire', { outlets: { popup: fammilleTarifaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
