<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../content/images/sophatel.png" class="card-img" alt="..." style="margin-top: 85%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Contacter nous</h5>
        <p class="card-text">Lot.89,Med Erradi,Z.I.Hay My.Rachid 20660 Casablanca</p>
        <p class="card-text">Tel: 05 22 40 20 29/65</p>
        <p class="card-text">Fax: 05 22 40 22 21</p>
        <p class="card-text">Email:contact@sophatel.com</p>
        <p class="card-text">www.sophatel.com</p>
       <h5 class="card-title">LE SUPPORT TECHNIAQUE ET QUALITE A VOTRE SERVICE TOUS LES JOURS OUVRABLES AU:</h5>
       <p class="card-text">05 37 68 38 44</p>
       <p class="card-text">05 37 68 38 45</p>
       <p class="card-text">06 61 96 11 97</p>
       <p class="card-text">06 66 65 82 03</p>
      </div>
    </div>
  </div>
</div>
