
<div class="row">

    <!--Grid column-->
    <div class="col-md-12" >
      <div class="card card-image bg" >
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div  style="padding-top: 100px;padding-bottom: 100px;">
          <div class="row">
                <div class="col-12" >
                    <h2 class="card-title">Contactez-nous</h2>
                    <br><br><br>
              </div>
          
          <div class="row">
                  <div class="col-6 " >
                      
                      <p class="card-text">Lot.89,Med Erradi,Z.I.Hay My.Rachid 20660 Casablanca</p>
                      <p class="card-text">Tel: 05 22 40 20 29/65</p>
                      <p class="card-text">Fax: 05 22 40 22 21</p>
                      <p class="card-text">Email:contact@sophatel.com</p>
                      <p class="card-text">www.sophatel.com</p>
                        
                        </div>
                        <div class="col-6 " >
                            <h5 class="card-title">LE SUPPORT TECHNIAQUE ET QUALITE A VOTRE SERVICE TOUS LES JOURS OUVRABLES AU:</h5>
                            <p class="card-text">05 37 68 38 44</p>
                            <p class="card-text">05 37 68 38 45</p>
                            <p class="card-text">06 61 96 11 97</p>
                            <p class="card-text">06 66 65 82 03</p>
                        </div>


              </div>
            </div>  
          
                
        </div>
      </div>
    </div>
