<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-stock-heading" jhiTranslate="winpharmApp.stock.home.createOrEditLabel">Create or edit a Stock</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="winpharmApp.stock.stockCouvertureMin" for="field_stockCouvertureMin">Stock Couverture Min</label>
                    <input type="number" class="form-control" name="stockCouvertureMin" id="field_stockCouvertureMin"
                           formControlName="stockCouvertureMin"/>
                    <div *ngIf="editForm.get('stockCouvertureMin').invalid && (editForm.get('stockCouvertureMin').dirty || editForm.get('stockCouvertureMin').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stockCouvertureMin').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('stockCouvertureMin')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="winpharmApp.stock.stockCouvertureMax" for="field_stockCouvertureMax">Stock Couverture Max</label>
                    <input type="number" class="form-control" name="stockCouvertureMax" id="field_stockCouvertureMax"
                           formControlName="stockCouvertureMax"/>
                    <div *ngIf="editForm.get('stockCouvertureMax').invalid && (editForm.get('stockCouvertureMax').dirty || editForm.get('stockCouvertureMax').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stockCouvertureMax').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('stockCouvertureMax')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
