/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  width: 347px;
  height: 220px;
}

.sizeimg {
  width: 200px;
  height: 180px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2000dppx) {
  .hipster {
    background: url('../../content/images/drug.png') no-repeat center top;
    background-size: contain;
  }
}
