/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  width: 347px;
  height: 220px;
}

.sizeimg {
  width: 200px;
  height: 180px;
}

.bg {
  /* The image used */
  background-image: url('../../content/images/pharmacie.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.b {
  font-size: 12px;
  background-color: #00a46c;
}
.b:hover {
  color: white;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2000dppx) {
  .hipster {
    background: url('../../content/images/drug.png') no-repeat center top;
    background-size: contain;
  }
}
