<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ligneVente">
            <h2><span jhiTranslate="winpharmApp.ligneVente.detail.title">Ligne Vente</span> {{ligneVente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVenteQte">Ligne Vente Qte</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVenteQte}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVenteTotalHT">Ligne Vente Total HT</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVenteTotalHT}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVenteTotalTTC">Ligne Vente Total TTC</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVenteTotalTTC}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVentePrixTTC">Ligne Vente Prix TTC</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVentePrixTTC}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVentePrixHT">Ligne Vente Prix HT</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVentePrixHT}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.ligneVenteDesignation">Ligne Vente Designation</span></dt>
                <dd>
                    <span>{{ligneVente.ligneVenteDesignation}}</span>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.enteteVente">Entete Vente</span></dt>
                <dd>
                    <div *ngIf="ligneVente.enteteVente">
                        <a [routerLink]="['/entete-vente', ligneVente.enteteVente?.id, 'view']">{{ligneVente.enteteVente?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="winpharmApp.ligneVente.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="ligneVente.produit">
                        <a [routerLink]="['/produit', ligneVente.produit?.id, 'view']">{{ligneVente.produit?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ligne-vente', ligneVente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
