<div>
        <div class="row">
                <div class="col">
                        <form class="form-inline md-form form-sm">
                    
                              <fa-icon [icon]="'search'"></fa-icon>
                              <input  #box class="form-control form-control-sm ml-3 w-75"  type="text" (keyup)="onKey(box.value)"  placeholder="Chercher un ville" aria-label="Search"
                                mdbInput>
                            </form>

                </div>
                <div class="col">
                        <h2 id="page-heading">
                                <span jhiTranslate="winpharmApp.ville.home.title">Villes</span>
                                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ville" [routerLink]="['/ville/new']">
                                    <fa-icon [icon]="'plus'"></fa-icon>
                                    <span  jhiTranslate="winpharmApp.ville.home.createLabel">
                                    Create new Ville
                                    </span>
                                </button>
                            </h2>
                </div>
              </div>
    
    <jhi-alert></jhi-alert>
    <div class="alert alert-warning" *ngIf="villes?.length === 0">
        <span jhiTranslate="winpharmApp.ville.home.notFound">No villes found</span>
    </div>
    <div class="table-responsive" *ngIf="villes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="villeLibelle"><span jhiTranslate="winpharmApp.ville.villeLibelle">Ville Libelle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let ville of villes ;trackBy: trackId">
                <td><a [routerLink]="['/ville', ville.id, 'view' ]">{{ville.id}}</a></td>
                <td>{{ville.villeLibelle}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/ville', ville.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ville', ville.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ville', { outlets: { popup: ville.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
