<div class="row justify-content-center">
        <router-outlet name="ligne-vente"></router-outlet>
     
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-entete-vente-heading" jhiTranslate="winpharmApp.enteteVente.home.createOrEditLabel">Create or edit a Entete Vente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="row">
                        <div class="col">
                                <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="winpharmApp.enteteVente.enteteVenteDateCreation" for="field_enteteVenteDateCreation">Entete Vente Date Creation</label>
                                        <div class="d-flex">
                                            <input id="field_enteteVenteDateCreation" type="datetime-local" class="form-control" name="enteteVenteDateCreation" formControlName="enteteVenteDateCreation" placeholder="YYYY-MM-DD HH:mm"/>
                                        </div>
                                        <div *ngIf="editForm.get('enteteVenteDateCreation').invalid && (editForm.get('enteteVenteDateCreation').dirty || editForm.get('enteteVenteDateCreation').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('enteteVenteDateCreation').errors.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                [hidden]="!editForm.get('enteteVenteDateCreation').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                                                This field should be a date and time.
                                            </small>
                                        </div>
                                    </div>
                       </div>
                       <div class="col">
                            <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="winpharmApp.enteteVente.client" for="field_client">Client</label>
                                    <select class="form-control" id="field_client" name="client" formControlName="client">
                                        <option [ngValue]="null"></option>
                                        <option [ngValue]="clientOption.id === editForm.get('client').value?.id ? editForm.get('client').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col">
                                <div class="form-group">
                                        <label class="form-control-label" jhiTranslate="winpharmApp.enteteVente.enteteVenteType" for="field_enteteVenteType">Entete Vente Type</label>
                                        <input type="text" class="form-control" name="enteteVenteType" id="field_enteteVenteType"
                                               formControlName="enteteVenteType"/>
                                        <div *ngIf="editForm.get('enteteVenteType').invalid && (editForm.get('enteteVenteType').dirty || editForm.get('enteteVenteType').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('enteteVenteType').errors.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                            </small>
                                        </div>
                                    </div>
                            </div>
             </div>
             <jhi-ligne-vente></jhi-ligne-vente>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="winpharmApp.enteteVente.enteteVenteTotalHT" for="field_enteteVenteTotalHT">Entete Vente Total HT</label>
                    
                  
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="winpharmApp.enteteVente.enteteVenteTotalTTC" for="field_enteteVenteTotalTTC">Entete Vente Total TTC</label>
                  
                    </div>
                </div>
          
           

            
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
